*/*.xml
*/*.so
*/*.d
*/*.pcm
*/gdb*
*/*outputs_valid
*/*.png
*/*.eps
*/*.pdf
*/*.DS_Store
*/.vscode/
*/*.jdl
*/*/*.jdl
*.root
*/*.root
f0/PbPb/*
f0/note/*.aux
f0/note/*.log
f0/data/
f0/testjobs
f0/LevyFits
f0_PbPb/*.root
f0_PbPb/std*
f0_PbPb/*.sh
f0_PbPb/.vscode/*
*/OCDBFolderXML*
*/*OCDBFolderXML*
*/*EventStat_temp.root
phiXeXe/steer/RunPhiXe*.sh
phiXeXe/steer/RunPhiXe*.C
phiXeXe/steer/*.xml
phiXeXe/steer/RunPhiXe*.root
phiXeXe/RunPhiXe*.sh
phiXeXe/RunPhiXe*.C
phiXeXe/*.xml
phiXeXe/RunPhiXe*.root
phiXeXe/*/*.png
phiXeXe/*/*.eps
phiXeXe/*/*.pdf
phiXeXe/*/*/*.png
phiXeXe/*/*/*.eps
phiXeXe/*/*/*.pdf